@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --clr-cta-text: hsl(356, 100%, 66%);
  --clr-cta-background: hsl(355, 100%, 74%);
  --clr-headings: hsl(208, 49%, 24%);
  --clr-white: hsl(0, 0%, 100%);
  --clr--grayish: hsl(240, 2%, 79%);
  --clr-body-text: hsl(207, 13%, 34%);
  --clr-footer-background: hsl(240, 10%, 16%);
  --font-operpass: "Overpass", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.2vw;
}

::-webkit-scrollbar-track {
  background-color: #25252d;
}

::-webkit-scrollbar-thumb {
  background-color: #ff525d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff7a85;
}

body {
  min-height: 100vh;
  font-family: var(--font-ubuntu);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

button {
  outline: none;
  border: 0;
  background-color: transparent;
}

h1,
h2,
h3 {
  line-height: 1.1;
}

.container {
  max-width: 968px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
  }
}

.heading {
  color: var(--clr-headings);
  font-family: var(--font-operpass);
  font-size: 2.6rem;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 3.7rem;
  }
}
.heading--white {
  color: var(--clr-white);
  font-size: 3.6rem;
}

.btn {
  display: inline-block;
  text-align: center;
  border: 1px solid var(--clr-white);
  transition: 0.4s;
  padding: 1.4rem 0;
  width: 140px;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--clr-white);
}
.btn:hover, .btn:focus {
  background-color: var(--clr-white);
  color: var(--clr-cta-text);
  border: 1px solid transparent;
  transform: scale(1.1);
}
.btn--red {
  background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
  border: 1px solid transparent;
}
@media screen and (min-width: 768px) {
  .btn--red {
    background: linear-gradient(90deg, white 0%, white 100%);
    color: var(--clr-cta-text);
    border: 1px solid var(--clr-white);
  }
}
.btn--red:hover, .btn--red:focus {
  background: linear-gradient(90deg, #ff7a85 0%, rgba(255, 112, 133, 0.8) 100%);
  color: var(--clr-white);
}
.btn--white {
  background-color: var(--clr-white);
  color: var(--clr-cta-text);
}
.btn--white:hover, .btn--white:focus {
  background-color: var(--clr-cta-background);
  color: var(--clr-white);
}

.header {
  margin-bottom: 6rem;
}

.intro {
  position: relative;
  background: linear-gradient(0deg, #ff3d54 0%, #ff8f70 100%);
  min-height: 600px;
  border-bottom-left-radius: 10rem;
}
@media screen and (min-width: 768px) {
  .intro {
    background: linear-gradient(90deg, #ff8f70 45%, #ff3d54 68%);
  }
}
.intro__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-intro-mobile.svg);
  border-bottom-left-radius: 10rem;
  background-position: right 65% bottom 67%;
  background-size: 1300px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .intro__pattern {
    background-image: url(../images/bg-pattern-intro-desktop.svg);
    border-bottom-left-radius: 10rem;
    background-position: right 76% bottom 48%;
    background-size: 3150px;
    background-repeat: no-repeat;
  }
}
.intro__content {
  position: relative;
  font-family: var(--font-operpass);
  color: var(--clr-white);
  text-align: center;
  padding: 0 2.2rem;
}
.intro__title {
  font-size: 3.5rem;
  line-height: 1.3;
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 5.9rem;
    margin-bottom: 1.5rem;
  }
}
.intro__text {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
}
@media screen and (min-width: 768px) {
  .intro__text {
    font-size: 2rem;
  }
}
.intro__buttons {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.nav {
  height: 140px;
  font-family: var(--font-operpass);
  color: var(--clr-footer-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav {
    height: 170px;
    justify-content: start;
  }
}
.nav__menu {
  display: flex;
  flex-direction: row;
  transition: 0.4s;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    flex-direction: column;
    position: absolute;
    width: 100%;
    border-radius: 0.6rem;
    background-color: var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 3.3rem 2.5rem;
    text-align: center;
    top: -130vh;
    z-index: 100;
  }
}
@media screen and (min-width: 768px) {
  .nav__menu {
    justify-content: space-between;
    width: 100%;
  }
}
.nav__logo {
  width: 85px;
}
@media screen and (min-width: 768px) {
  .nav__logo {
    width: 105px;
    margin-right: 6rem;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.1rem;
}
@media screen and (min-width: 768px) {
  .nav__list {
    padding: 0;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
    position: relative;
  }
}
.nav__item:not(:last-child) {
  margin-bottom: 2.8rem;
}
@media screen and (min-width: 768px) {
  .nav__item {
    position: relative;
  }
  .nav__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 3rem;
  }
}
.nav__link {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.7rem;
       column-gap: 0.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .nav__link {
    position: relative;
    font-family: var(--font-ubuntu);
    color: var(--clr-white);
  }
  .nav__link svg path {
    width: 10px;
    stroke: var(--clr-white);
  }
  .nav__link::after {
    position: absolute;
    content: "";
    background-color: var(--clr-white);
    width: 0;
    height: 2px;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
  }
  .nav__link:hover::after, .nav__link:focus::after {
    width: calc(100% - 1.7rem);
  }
}
.nav__toggle, .nav__close {
  cursor: pointer;
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  .nav__toggle, .nav__close {
    display: none;
  }
}
.nav__buttons {
  border-top: 1px solid var(--clr--grayish);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 3.5rem;
}
@media screen and (min-width: 768px) {
  .nav__buttons {
    font-family: var(--font-ubuntu);
    flex-direction: row;
    border-top: 0;
    padding-top: 0;
  }
}
.nav__login {
  font-size: 1.7rem;
  color: var(--clr-footer-background);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .nav__login {
    color: var(--clr-white);
  }
}
.nav__sub-menu {
  background-color: var(--clr--grayish);
  padding: 0;
  margin-top: 2.2rem;
  padding: 2.6rem 0;
  z-index: 100;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__sub-menu {
    margin-top: 0;
    background-color: var(--clr-white);
    position: absolute;
    top: 50px;
    left: -30px;
    width: 170px;
    border-radius: 0.75rem;
    padding-left: 2rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  }
}
.nav__sub-item:not(:last-child) {
  margin-bottom: 2rem;
}
.nav__sub-link {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--clr-footer-backgroundbackground);
  transition: 0.4s;
}
@media screen and (min-width: 768px) {
  .nav__sub-link {
    font-weight: 400;
  }
  .nav__sub-link:hover, .nav__sub-link:focus {
    font-weight: 600;
  }
}

.future {
  padding: 10.5rem 0 27rem;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .future {
    padding: 16rem 0 11rem;
  }
}
@media screen and (min-width: 1100px) {
  .future {
    padding: 16rem 0 5.8rem;
  }
}
.future__title {
  margin-bottom: 4.5rem;
}
@media screen and (min-width: 768px) {
  .future__title {
    margin-bottom: 10.5rem;
  }
}
.future__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}
@media screen and (min-width: 768px) {
  .future__container {
    flex-direction: row-reverse;
    align-items: initial;
  }
}
@media screen and (min-width: 768px) {
  .future__img-container {
    width: 44%;
  }
}
.future__img {
  width: 100%;
}
.future__img--desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .future__img {
    width: 925px;
  }
  .future__img--desktop {
    display: block;
    margin-top: -235px;
  }
  .future__img--mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .future__content {
    width: 56%;
  }
}
.future__subtitle {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .future__subtitle {
    text-align: left;
    font-size: 2.8rem;
    margin-bottom: 2.8rem;
  }
}
.future__text {
  font-family: var(--font-operpass);
  font-size: 1.7rem;
  line-height: 1.7;
  color: var(--clr-body-text);
}
.future__text:not(:last-child) {
  margin-bottom: 3.6rem;
}
@media screen and (min-width: 768px) {
  .future__text {
    text-align: left;
  }
  .future__text:not(:last-child) {
    margin-bottom: 7rem;
  }
}

.infrastructure {
  position: relative;
  background: linear-gradient(0deg, #3f4164 0%, #2c2d3f 100%);
  border-bottom-left-radius: 10rem;
  border-top-right-radius: 10rem;
  height: 630px;
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .infrastructure {
    border-top-right-radius: 0;
    height: 400px;
    background: linear-gradient(90deg, #2c2d3f 0%, #3f4164 100%);
  }
}
.infrastructure__pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-circles.svg);
  background-position: top -34vh center;
  background-size: 600px;
  background-repeat: no-repeat;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
}
@media screen and (min-width: 768px) {
  .infrastructure__pattern {
    background-image: url(../images/bg-pattern-circles.svg);
    background-position: top -78vh left -16vw;
    background-size: 1050px;
    background-repeat: no-repeat;
    border-top-right-radius: 10rem;
  }
}
.infrastructure__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .infrastructure__container {
    display: flex;
    align-items: center;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
    height: 100%;
  }
}
.infrastructure__img {
  width: 100%;
  margin-top: -183px;
  margin-left: -34px;
  margin-bottom: 1rem;
}
@media screen and (min-width: 390px) {
  .infrastructure__img {
    width: 390px;
    margin-top: -183px;
    margin-left: -34px;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1100px) {
  .infrastructure__img {
    width: 545px;
    margin-top: 50px;
    margin-left: -35px;
  }
}
@media screen and (min-width: 768px) {
  .infrastructure__title, .infrastructure__text {
    text-align: left;
  }
}
.infrastructure__title {
  margin-bottom: 2.7rem;
}
.infrastructure__text {
  color: var(--clr-white);
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .infrastructure__title, .infrastructure__text {
    text-align: left;
  }
}

.services {
  padding: 6.2rem 0 9.5rem;
}
@media screen and (min-width: 768px) {
  .services {
    padding: 11.5rem 0 12rem;
  }
}
.services__container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}
@media screen and (min-width: 768px) {
  .services__container {
    flex-direction: row;
    -moz-column-gap: 8rem;
         column-gap: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .services__img-container {
    width: 44%;
  }
}
.services__img {
  width: 100%;
}
.services__img--desktop {
  display: none;
}
@media screen and (min-width: 375px) {
  .services__img--desktop {
    margin-left: -557px px;
  }
}
@media screen and (min-width: 768px) {
  .services__img--desktop {
    display: block;
    width: 974px;
    margin-left: -545px;
  }
  .services__img--mobile {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .services__img--desktop {
    margin-left: -445px;
  }
}
@media screen and (min-width: 768px) {
  .services__content {
    width: 56%;
    text-align: left;
  }
}
.services__subtitle {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .services__subtitle {
    text-align: left;
    font-size: 2.8rem;
  }
}
.services__text {
  font-family: var(--font-operpass);
  font-size: 1.7rem;
  line-height: 1.7;
  color: var(--clr-body-text);
}
.services__text:not(:last-child) {
  margin-bottom: 7rem;
}
@media screen and (min-width: 768px) {
  .services__text {
    text-align: left;
  }
}

.footer {
  padding: 7.5rem 0;
  background-color: var(--clr-footer-background);
  border-top-right-radius: 10rem;
  position: relative;
}
.footer__logo {
  margin-bottom: 8rem;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.footer__list {
  text-align: center;
}
.footer__subtitle {
  color: var(--clr-white);
  font-size: 1.8rem;
  margin-bottom: 3rem;
}
.footer__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.footer__link {
  display: inline-block;
  color: var(--clr--grayish);
  font-size: 1.7rem;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  position: relative;
}
.footer__link::after {
  position: absolute;
  content: "";
  background-color: var(--clr--grayish);
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  transition: 0.4s;
}
.footer__link:hover::after, .footer__link:focus::after {
  width: 100%;
}

.collapse .nav__sub-menu {
  display: block;
}

.show-menu {
  top: 125px;
}

.rotate .nav__link svg {
  transform: rotate(180deg);
}

.show {
  display: none;
}

a {
  text-decoration: none;
}

.attribution {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-60%);
  font-size: 13px;
  text-align: center;
  color: var(--clr-white);
}
.attribution a {
  color: var(--clr-cta-text);
}